.content {
  padding-right: $padding-x;
  padding-left: $padding-x;

  @include mobile {
    padding-right: $padding-mx;
    padding-left: $padding-mx;
  }
}

.sections {
  display: flex;
  width: fit-content;
  padding: 4px;
  background-color: $gray-div;
  list-style-type: none;
  margin-inline: auto;

  @include mobile {
    width: 100%;
  }

  .section {
    @include font-desktop-h2;

    width: fit-content;
    padding: 8px 24px;
    color: $white;
    cursor: pointer;
    transition: all 0.25s ease-in;

    @include mobile {
      @include font-desktop-h3;

      width: 100%;
      padding: 6px 10px;
      text-align: center;
    }

    &:not(.section-current) {
      @include hover {
        background-color: $general-bg;
      }
    }

    &-current {
      background-color: $white;
      color: $gray-div;
    }
  }
}

.gallery {
  display: grid;
  max-width: $max-content;
  margin-top: 80px;
  gap: 32px;
  margin-inline: auto;

  @include desktop {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr;

    &.video {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @include mobile {
    margin-top: 24px;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;

    & > div {
      max-height: 60vh;
    }
  }
}
