.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: $general-accent;
  cursor: pointer;
  outline: none;
  transition: background-color 0.15s linear;

  @include desktop {
    width: 100%;
    max-width: 416px;
    height: 48px;
    padding: 12px 16px;
  }

  @include mobile {
    width: 40px;
    height: 40px;
    justify-content: center;

    span {
      display: none;
    }
  }

  @include hover {
    background-color: $general-accent-hover;
  }

  span {
    @include font-desktop-txt-bold;

    color: $black;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.floating {
  position: fixed;
  z-index: $floating-button-z;
  right: $padding-x;
  bottom: $padding-x;

  @include mobile {
    z-index: calc(#{$header-menu-z} - 1);
  }

  @include mobile {
    right: $padding-mx;
    bottom: $padding-mx;
  }
}
