.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $light-gray;

  @include desktop {
    @include font-desktop-txt-bold;
  }

  @include mobile {
    @include font-adapt-txt-regular;
  }

  img {
    width: 8px;
    object-fit: contain;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;

  &:not(:first-child) {
    margin-top: 24px;
  }
}

.error {
  margin-top: 4px;
  color: $general-accent;
}

.default {
  padding: 16px;
  border: 2px solid $gray-div;
  margin-top: 4px;
  background-color: $deep-gray;
  color: $white;
  outline: none;

  @include desktop {
    @include font-desktop-h3;
  }

  @include mobile {
    @include font-adapt-txt-regular;

    padding: 12px;
  }

  &::placeholder {
    color: $gray;

    @include desktop {
      @include font-desktop-h3;
    }

    @include mobile {
      @include font-adapt-txt-regular;
    }
  }
}

.textarea {
  min-height: 162px;
  box-sizing: border-box;
  resize: none;
}
