.page {
  overflow: visible;

  @include desktop {
    padding: $padding-top-1 $padding-x $padding-bottom;
  }

  @include mobile {
    overflow: hidden;
    padding: $padding-top-m $padding-mx $padding-bottom-m;
  }
}

.back {
  @include font-desktop-txt-regular;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  img {
    max-width: 18px;
    transform: scale(-1, 1);
  }
}

.wrapper {
  max-width: $max-content;
  margin: 0 auto;

  .article {
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1.75fr;

    @include mobile {
      display: block;
    }

    .swiper {
      overflow: visible;
      margin-top: 24px;

      .mediaItem {
        max-height: 216px;
      }
    }

    .breadCrumbs {
      @include font-desktop-txt-regular;

      .currentPageLink {
        color: $gray;
      }
    }

    .left {
      position: sticky;
      top: 0;
      height: fit-content;
      padding-top: $padding-x;

      @include mobile {
        padding-top: 24px;
      }

      h2 {
        @include font-desktop-h2;

        margin-top: 36px;

        @include mobile {
          @include font-adapt-h3;

          margin: 0;
        }
      }

      time {
        @include font-desktop-txt-regular;

        display: block;
        margin-top: 24px;
        color: $gray;

        @include mobile {
          margin-top: 16px;
          font-size: 14px;
        }
      }

      .line {
        margin-top: 32px;

        @include mobile {
          margin-top: 20px;
        }
      }

      p {
        @include font-desktop-h3;

        margin-top: 40px;

        @include mobile {
          margin-top: 20px;
          color: $light-gray;
          font-size: 14px;
        }
      }

      .link {
        display: block;
        margin-top: 36px;

        @include mobile {
          margin-top: 20px;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      padding-top: $padding-x;
      gap: 24px;

      @include mobile {
        padding-top: 24px;
      }
    }

    .mediaItem {
      height: 588px;
    }
  }
}

.recommended {
  h1 {
    @include font-adapt-h1;

    text-align: center;
  }

  .newsMobile {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    .line {
      margin: 24px 0;
    }
  }

  & > .line {
    margin: 80px 0;

    @include mobile {
      margin: 30px 0;
    }
  }

  .navigation {
    display: flex;
    justify-content: center;
    margin-top: 37px;
    gap: 42px;

    .arrow {
      position: relative;
      padding: 0;
    }
  }
}
