object {
  display: flex;
  align-items: center;
  gap: 8px;

  @include mobile {
    font-size: 14px;
  }

  .globe {
    display: inline;
    width: 16px;
    max-height: 16px;
    align-items: center;
    color: $general-accent;
  }

  .link {
    color: $general-accent;
  }
}
