object {
  display: flex;
  align-items: center;
  gap: 8px;

  @include mobile {
    font-size: 14px;
  }

  @include hover {
    .globe,
    .link {
      color: $white;
      text-decoration: underline;
    }
  }

  .globe,
  .link {
    transition: all 0.15s linear;
  }

  .globe {
    display: inline;
    width: 16px;
    max-height: 16px;
    align-items: center;
    color: $general-accent;
  }

  .link {
    display: inline;
    color: $general-accent;
  }
}
