$submit-button-width: 128px;
$submit-button-width-mob: 108px;

.content {
  @include desktop {
    width: 752px;
    max-height: calc(100vh - 100px);
    padding-bottom: calc(#{$submit-button-width} / 2);
  }

  @include mobile {
    width: 100%;
  }
}

.logo {
  display: flex;
  width: 112px;
  align-items: flex-start;
  padding-top: 90px;
  background-color: $gray;

  @include mobile {
    display: none;
  }

  img {
    width: auto;
    height: 34px;
    object-fit: contain;
    transform: translateX(-8px) rotate(-90deg);
  }
}

.form {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 36px 32px 43px;
  background-color: $deep-gray;

  @include mobile {
    padding: 24px $padding-mx;

    h2 {
      @include font-desktop-menu;
    }
  }
}

.inputs {
  overflow: auto;
  margin-top: 32px;

  @include scrollbar;

  @include mobile {
    margin-top: 24px;
  }
}

.cross {
  $background: #1e1e1e;

  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $background;
  border-radius: 100%;
  background-color: $background;
  cursor: pointer;
  transition: all 0.2s linear;

  @include desktop {
    top: 40px;
    right: 28px;
    width: 40px;
    height: 40px;
  }

  @include mobile {
    top: 24px;
    right: $padding-mx;
    width: 24px;
    height: 24px;
    border-color: transparent;
    background-color: transparent;
  }

  @include hover {
    border-color: $general-accent;
    background-color: $white;

    svg {
      color: $deep-gray;
      transform: rotate(-180deg);
    }
  }

  svg {
    width: 20px;
    color: $general-accent;
    transition: color 0.15s ease-in-out, transform 0.4s ease;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin-top: auto;

  @include mobile {
    padding-top: 24px;
  }
}

.important {
  @include font-small;

  width: 100%;
  color: $gray;
  text-align: right;

  @include mobile {
    display: flex;
    margin-left: 42px;
  }

  img {
    width: 8px;
    height: fit-content;
    margin-left: 10px;
    object-fit: contain;

    @include mobile {
      margin-top: 2px;
    }
  }
}

.button {
  all: unset;
  z-index: 1;

  @include desktop {
    @include font-desktop-txt-bold;

    width: $submit-button-width;
    height: $submit-button-width;
  }

  @include mobile {
    @include font-adapt-txt-regular;

    width: $submit-button-width-mob;
    height: $submit-button-width-mob;
  }

  @include hover-white-background($width: $submit-button-width, $width-mobile: $submit-button-width-mob) {
    @include desktop {
      position: absolute;
      bottom: calc(-#{$submit-button-width} / 2);
      left: 32px;
    }
  }
}
