.modal {
  position: fixed;
  z-index: $modal-z;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba($gray-div, 0.95);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
  visibility: hidden;

  &-active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}

.content {
  position: relative;
  display: flex;
  height: 100%;
  align-items: stretch;
  pointer-events: none;
  transform: scale(0.5);
  transition: all 0.4s ease-out;

  &-active {
    pointer-events: all;
    transform: scale(1);
  }
}
