.dots {
  position: relative;
  display: flex;
  width: 100%;
  max-width: $max-content;
  justify-content: center;
  margin-inline: auto;

  &-middle {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    list-style-type: none;

    .dot {
      @include font-desktop-txt-bold;

      display: flex;
      width: 64px;
      height: 64px;
      align-items: center;
      justify-content: center;
      border: 2px solid $general-accent;
      border-radius: 50%;
      background-color: $general-accent;
      color: $black;
      transition: background-color 0.25s ease-in-out;

      &:not(&-active) {
        border-color: $general-accent;

        @include hover {
          background-color: $white;
          cursor: pointer;
        }
      }

      @include mobile {
        @include font-desktop-txt-regular;

        width: 40px;
        height: 40px;
        font-size: 14px;
      }

      &-active {
        border-color: $gray;
        background-color: transparent;
        color: $white;
        pointer-events: none;
      }
    }
  }

  .arrow {
    &-prev {
      top: 0;
      left: 0;
    }

    &-next {
      top: 0;
      right: 0;
    }
  }

  @include mobile {
    justify-content: center;
  }
}
