.news {
  padding: 174px 0 0;

  @include mobile {
    padding: 73px 0 0;
  }

  h1 {
    @include font-desktop-h1;

    text-align: center;

    @include mobile {
      @include font-adapt-h1;
    }
  }

  &-wrapper {
    display: grid;
    max-width: $max-content;
    height: max-content;
    box-sizing: content-box;
    padding: 0 $padding-x;
    margin: 0 auto;
    margin-top: 80px;

    // grid-template-rows: 730px;
    gap: 0 32px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

    @include mobile {
      padding: 0 $padding-mx;
      margin-top: 32px;
      gap: 24px;
      grid-template-columns: minmax(0, 1fr);
    }

    hr {
      height: 2px;
      border: none;
      margin: 80px 0;
      background-color: #202020;
      grid-column: -1 / 1;

      @include mobile {
        margin: 24px 0;
      }
    }
  }
}

.circle {
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;

  @include mobile {
    gap: 10px;
  }

  img {
    width: 45px;

    @include mobile {
      width: 30px;
    }
  }

  h2 {
    @include font-desktop-h2;

    @include mobile {
      @include font-adapt-h3;
    }
  }

  &-wrapper {
    display: flex;
    max-width: 640px;
    max-height: 640px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border: 1px solid $gray-div;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }
}
