.wrapper {
  $gradient-z: 1;

  position: relative;
  display: block;
  height: fit-content;

  @mixin image-position {
    height: 480px;

    @include mobile {
      height: 216px;
    }
  }

  &::before {
    position: absolute;
    z-index: $gradient-z;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, $general-bg 0%, rgb(24 24 24 / 0%) 100%);
    content: '';
    opacity: 0.8;

    @include image-position;
  }

  .image {
    @include image-position;
  }

  .info {
    position: relative;
    z-index: calc(#{$gradient-z} + 1);
    padding: 0 80px;
    margin-top: -72px;

    @include mobile {
      padding: 0;
      margin-top: 16px;
    }

    h2 {
      @include font-desktop-h2;

      @include mobile {
        @include font-adapt-h3;
      }
    }

    p {
      @include font-adapt-h3;

      margin-top: 24px;

      @include mobile {
        @include font-adapt-txt-regular;

        margin-top: 12px;
        color: $light-gray;
      }
    }

    &-bottom {
      @include font-desktop-txt-regular;

      display: flex;
      margin-top: 24px;
      gap: 5px;

      time {
        @include font-adapt-txt-regular;

        color: $gray;
      }

      @include mobile {
        flex-direction: column;
        margin-top: 12px;
      }
    }
  }
}
