.dots {
  display: flex;
  max-width: $max-content;
  justify-content: space-between;
  margin-inline: auto;

  &-middle {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    list-style-type: none;

    .dot {
      @include font-desktop-txt-bold;

      display: flex;
      width: 64px;
      height: 64px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $general-accent;
      color: $black;

      @include mobile {
        @include font-desktop-txt-regular;

        width: 40px;
        height: 40px;
        font-size: 14px;
      }

      &-active {
        border: 2px solid $gray;
        background-color: transparent;
        color: $white;
      }
    }
  }

  .arrow {
    &-disabled {
      color: $gray-div;
    }

    &-left svg {
      max-width: 53px;
      transform: scale(-1, 1);
    }

    &-right {
      color: $general-accent;

      svg {
        max-width: 53px;
      }
    }
  }

  @include mobile {
    justify-content: center;
  }
}
