.footer {
  display: flex;
  justify-content: space-between;
  padding: 68px $padding-x $padding-x;
  background-color: $deep-gray;
  color: $white;

  @include mobile {
    flex-direction: column;
    padding: 26px $padding-mx 22px;
  }
}

.line {
  height: 1px;
  border: none;
  margin-top: 68px;
  background-color: $gray-div;

  @include mobile {
    margin-top: 26px;

    &-short {
      max-width: calc(100% - 56px);
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
}

.email {
  &-wrapper {
    display: block;

    @include desktop {
      margin-left: 117px;
    }

    @include mobile {
      display: flex;
      align-items: center;
      margin-top: 14px;
      gap: 8px;
    }
  }
}

.phone {
  &-wrapper {
    display: flex;
    gap: 22px;

    @include mobile {
      align-items: center;
      gap: 8px;
    }
  }
}

.email,
.phone {
  @include mobile {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: $general-accent;

    svg {
      width: 10px;
      color: $gray-div;
    }
  }

  &-wrapper h2 {
    @include mobile {
      @include font-desktop-txt-regular;
    }
  }
}

.copyright {
  margin-top: 40px;
  color: $gray;

  @include desktop {
    @include font-desktop-txt-regular;
  }

  @include mobile {
    @include font-small;

    margin-top: 20px;
  }
}

.socials {
  display: flex;

  .social {
    @include mobile {
      width: auto;
      background-color: transparent;

      img {
        width: 20px;
      }

      span {
        @include font-desktop-txt-regular;

        margin-left: 8px;
        color: $white;
      }
    }
  }
}

.social {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: $gray-div;
  color: $general-accent;
  transition: all 0.2s ease-in;

  @include desktop {
    border: 2px solid $gray-div;

    @include hover {
      border-color: $general-accent;
      background-color: $white;
      color: $deep-gray;
    }
  }

  @include mobile {
    width: 20px;
    height: 20px;
    background-color: $general-accent;
    color: $general-accent;
  }

  &:not(:first-child) {
    margin-left: 10px;

    @include mobile {
      margin-left: 24px;
    }
  }

  svg {
    width: 22px;
    height: auto;

    @include mobile {
      width: 20px;
    }
  }
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mobile {
    margin-top: 26px;
  }
}
