.header {
  position: absolute;
  z-index: $header-z;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;

  @include desktop {
    height: $header-height;
    padding: 45px $padding-x 0;
  }

  @include mobile {
    height: $header-height-m;
    padding: 24px $padding-mx 0;
  }
}

.links {
  ul {
    display: flex;
    list-style-type: none;

    @include desktop {
      height: 20px;
      gap: 36px;
    }

    @include mobile {
      flex-direction: column;
      gap: 20px;
    }
  }

  li {
    @include font-desktop-menu;

    position: relative;

    @include mobile {
      &:not(:last-child) {
        padding-bottom: 24px;
        border-bottom: 1px solid rgba($gray-div, 0.5);
      }
    }

    @include hover {
      cursor: pointer;
    }

    &:not(.border) {
      &::after {
        position: absolute;
        right: 0;
        bottom: -11px;
        left: 0;
        display: flex;
        width: 0;
        height: 1px;
        background-color: $gray;
        content: '';
        margin-inline: auto;
        transition: width 0.25s ease-in-out;
      }

      @include hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

.logo {
  height: auto;
  object-fit: contain;

  @include desktop {
    width: 128px;
  }

  @include mobile {
    width: 96px;
  }
}

.phone {
  display: flex;

  .social {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: $general-accent;
    color: $gray-1;

    svg {
      width: 10px;
    }
  }

  p {
    @include font-desktop-menu;

    margin-left: 8px;
  }
}

.border {
  transition: all 0.2s linear;

  @include desktop {
    position: relative;
    top: -12px;
    height: 45px;
    padding: 10px 16px 12px;
    border: 2px solid $general-accent;
  }

  @include hover {
    background-color: $white;
    color: $gray-div;
  }

  @include mobile {
    display: flex;

    &::after {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      margin: auto 0 auto 12px;
      background: $general-accent;
      content: '\A';
    }
  }
}

.menu {
  position: fixed;
  z-index: $header-menu-z;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 128px $padding-mx 22px;
  background-color: $deep-gray;
  inset: 0 0 0 100vw;
  transition: all 0.3s ease-in-out;

  &.visible {
    left: 0;
  }

  .bottom {
    margin-top: auto;
  }
}

.cross,
.hamburger {
  width: 32px;
}
