.content {
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
  min-height: calc(100vh - 100px);
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  margin: auto;
  background: $general-bg;

  @include mobile {
    padding-top: $padding-top-m;
    padding-bottom: $padding-bottom-m;
  }
}
