.help {
  padding: 0 $padding-x;
  margin-top: 128px;

  @include mobile {
    padding: 0 $padding-mx;
    margin-top: 68px;
  }

  .items,
  h1 {
    @include desktop {
      padding-left: calc(272px - #{$padding-x});
    }
  }
}

.items {
  margin-top: 88px;
  list-style-type: none;

  @include mobile {
    margin-top: 24px;
  }
}

.item {
  cursor: pointer;

  &:first-child {
    @include mobile {
      padding-top: 24px;
      border-top: solid 2px #202020;
    }
  }

  &:last-child {
    @include mobile {
      padding-bottom: 24px;
      border-bottom: solid 2px #202020;
    }
  }

  &:not(:last-child) {
    padding-bottom: 48px;
    border-bottom: solid 2px #202020;

    @include mobile {
      padding-bottom: 28px;
    }
  }

  &:not(:first-child) {
    padding-top: 40px;

    @include mobile {
      padding-top: 24px;
    }
  }

  h2 {
    position: relative;
    padding-right: 40px;
    user-select: none;

    @include mobile {
      @include font-adapt-h3;

      padding-right: 20px;
    }
  }

  h3 {
    display: none;
    user-select: none;

    @include desktop {
      max-width: 80%;
      margin-top: 24px;
    }

    @include mobile {
      @include font-adapt-txt-regular;

      margin-top: 16px;
      color: $light-gray;
    }

    &.toggled {
      display: block;
    }
  }

  .arrow {
    position: absolute;
    top: 10px;
    right: 0;
    width: 32px;
    height: 32px;

    @include mobile {
      top: 6px;
      width: 16px;
      height: 16px;
    }

    &.toggled {
      transform: rotate(180deg);
    }
  }
}
