.reviews {
  padding-left: $padding-x;
  margin-top: 128px;
}

.title,
.description,
.nda {
  padding-left: calc(272px - #{$padding-x});
}

.description,
.nda {
  max-width: 80%;
}

.description {
  @include font-desktop-txt-regular;

  margin-top: 64px;
}

.nda {
  @include font-small;

  margin-top: 88px;
  color: $gray;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;

  hr {
    width: 100%;
    height: 1px;
    border: none;
    margin-top: 48px;
    background-color: $gray-div;
  }
}

.meta {
  display: flex;
  margin-top: 24px;
}

.format {
  @include font-desktop-txt-bold;

  display: flex;
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: $general-accent;
  color: $black;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 36px;

  h4 {
    @include font-desktop-txt-regular;
  }

  p {
    @include font-small;

    margin-top: 2px;
    color: $gray;
  }
}

.signature {
  position: absolute;
  z-index: -1;
  right: 30px;
  bottom: 100%;
  width: auto;
  max-width: 300px;
  height: auto;
  max-height: 160px;
  object-fit: contain;
}

.company {
  max-width: 100px;
  max-height: 64px;
  margin-left: auto;
  object-fit: contain;
}

.swiper {
  padding-right: $padding-x !important;
  cursor: pointer;
  user-select: none;

  &-wrapper {
    position: relative;
    padding-left: calc(272px - #{$padding-x});
    margin-top: 64px;
  }

  :global .swiper-slide {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
  }
}

.arrow {
  top: 64px;
  left: 0;
  color: $general-accent;
  transition: color 0.15s linear;

  &.disabled {
    color: $gray-div;
  }

  &-next {
    top: 0;
  }
}

.index {
  @include font-desktop-txt-regular;

  position: absolute;
  top: 145px;
  left: 0;
  width: 64px;
  color: $white;
  text-align: center;

  span {
    color: $gray;
  }
}
