// colors
$white: #fff;
$black: #000;
$gray: rgb(82 82 82 / 100%);
$gray-div: rgb(41 41 41 / 100%);
$deep-gray: rgb(16 16 16 / 100%);
$light-gray: rgb(175 175 175 / 100%);
$general-accent: rgb(255 153 0 / 100%);
$general-bg: rgb(24 24 24 / 100%);

// fonts
$font-manrope: 'Manrope', sans-serif;
$padding-x: 48px;

