// colors
$white: #fff;
$black: #000;
$gray: #525252;
$gray-1: #333;
$gray-div: #292929;
$deep-gray: #101010;
$light-gray: #afafaf;
$general-accent: #f90;
$general-accent-hover: #ffb300;
$general-bg: #181818;

// fonts
$font-manrope: 'Manrope', sans-serif;

// variables
$header-height: 87px;
$header-height-m: 50px;
$padding-top: 174px;
$padding-top-m: 73px;
$padding-top-1: 132px;
$padding-bottom: 128px;
$padding-bottom-m: 36px;
$padding-x: 48px;
$padding-mx: 16px;
$max-content: 1312px;

// z-indexes
$modal-z: 10;
$header-z: 8;
$header-menu-z: 7;
$cookies-z: 6;
$floating-button-z: 5;
