// colors
$white: #fff;
$black: #000;
$gray: #525252;
$gray-div: #292929;
$deep-gray: #101010;
$light-gray: #afafaf;
$general-accent: #f90;
$general-bg: #181818;

// fonts
$font-manrope: 'Manrope', sans-serif;
$padding-x: 48px;
